.text-hidden {
  overflow: hidden;
  text-overflow: ellipsis;
}

.input {
  padding: .375rem .75rem;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  appearance: none;
  border-radius: .25rem;
}

.input-grp {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
}

.hide {
  display: none;
}

.border-none {
  border: none;
}

.btn-status {
  text-align: center;
  border-radius: 0.25rem;
  font-weight: 400;
}
